{% extends 'catalog1/base.html' %}

{% block body_block %}
    <h2>Welcome to Catalog 1</h2>
    <h3>Color Scheme</h3>
    <table>
        <tr>
            <td><div id="c1"></div></td>
            <td>#3B86FF</td>
        </tr>
        <tr>
            <td><div id="c6"></div></td>
            <td>#03cffc</td>
        </tr>
        <tr>
            <td><div id="c2"></div></td>
            <td>#354052</td>
        </tr>
        <tr>
            <td><div id="c3"></div></td>
            <td>#737373</td>
        </tr>
        <tr>
            <td><div id="c4"></div></td>
            <td>#F4F5F7</td>
        </tr>
        <tr>
            <td><div id="c5"></div></td>
            <td>#AAAAAA</td>
        </tr>
    </table>
    <br><br>

    <h3>UI Components</h3>
    <h4>Buttons</h4>
    <button class="b1">Save</button>
    <button class="b2">Cancel</button>
    <button class="b3">Common</button>
    <button class="b4">Common</button>
    
    <br><br>
    <h4>Search Bar</h4>
    <br>
    <div class="search-box">
        <input type="text" placeholder="Search" class="search-text">
        <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
        </a>
    </div>

    <br><br><br><br>
    <p>UI Components Style Guide here</p>
    <ol>
        <li>Nav Bar</li>
        
        <li>Checkbox</li>
        <li>Dropdown (with search result)</li>
        <li>Input Field</li>
        <li>Search Bar</li>
        <li>Pagination</li>
        <li>Side Bar</li>
        <li>Modal
            <ul>
                <li>Notification pop up</li>
            </ul>
        </li>
        
    </ol>

{% endblock %}